<div 
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-in duration-150"
  x-transition:enter-start="translate-x-full"
  x-transition:enter-end="translate-x-0"
  x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="translate-x-0"
  x-transition:leave-end="translate-x-full"
  class="bg-white fixed lg:relative right-0 top-84 lg:top-0 z-40 w-180 lg:w-full h-[calc(100%_-_84px)] lg:h-auto overflow-y-auto flex flex-col justify-start items-end pr-16 lg:!pr-0 lg:!block">
  {{ partial:menu/main/wrapper }}
</div>