<div 
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-in duration-150"
  x-transition:enter-start="translate-x-full"
  x-transition:enter-end="translate-x-0"
  x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="translate-x-0"
  x-transition:leave-end="translate-x-full"
  class="bg-white lg:bg-transparent fixed lg:relative right-0 top-84 lg:top-0 z-40 w-180 lg:w-full h-[calc(100%_-_84px)] lg:h-auto overflow-y-auto flex flex-col justify-start items-end pr-16 lg:!pr-0 lg:!block">
  <nav class="text-black uppercase tracking-wider lg:mt-20 xl:mt-28">
    <ul class="flex flex-col lg:flex-row lg:justify-end gap-y-20 lg:gap-y-0 lg:gap-x-20 text-right">
      {{ nav:main }}
        {{ partial:menu/main/item }}
      {{ /nav:main }}
    </ul>

    <ul class="flex flex-col gap-y-16 mt-48 text-right text-sm lg:hidden">
      {{ nav:privacy }}
        {{ partial:menu/privacy/item }}
      {{ /nav:privacy }}
    </ul>

    {{ partial:menu/language/wrapper class="lg:hidden" }}

  </nav>
</div>