{{ if type == 'editor' }}
  <div class="mb-48 xl:mb-72 col-span-8 md:col-span-12 lg:col-start-4 xl:col-span-9 xl:col-start-6">
    {{ content  }}
  </div>
{{ /if }}

{{ if type == 'page_section' }}
  <div class="col-span-8 md:col-span-12 lg:col-span-3 xl:col-start-3">
    <h1 class="uppercase tracking-wide">{{ title }}</h1>
  </div>
  <div class="col-span-8 md:col-span-16 lg:col-span-12 xl:col-span-9 xl:col-start-6">
    <div class="sm:grid sm:grid-cols-12 sm:gap-x-16">
    {{ elements }}

      {{ if type == 'team_member' }}
        {{ partial:components/cards/team_member }}
      {{ /if }}

      {{ if type == 'service' }}
        {{ partial:components/cards/service }}
      {{ /if }}

      {{ if type == 'course' }}
        {{ partial:components/cards/course/wrapper }}
      {{ /if }}

      {{ if type == 'location' }}
        {{ partial:components/cards/location }}
      {{ /if }}

    {{ /elements }}
    </div>
  </div>
{{ /if }}