{{# <svg 
  width="32" 
  height="20" 
  viewBox="0 0 32 20" 
  fill="none" 
  xmlns="http://www.w3.org/2000/svg" 
  class="{{ class }} group-[.is-active]:text-black">
<path 
  d="M30 7.23077L26.2797 4H2L4.30364 7.23077H30Z" 
  fill="currentColor" 
  class="group-hover:-translate-y-2 group-[.is-active]:-translate-y-2 transition-transform" />
<path 
  d="M2 12.2238L5.63217 15.4546H29.9021L27.6876 12.2238H2Z" 
  fill="currentColor" 
  class="group-hover:translate-y-2 group-[.is-active]:translate-y-2 transition-transform" />
</svg> #}}

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 16" class="{{ class }}">
  <path d="M0 14h24v2H0zM0 0h24v2H0zM0 7h24v2H0z"></path>
</svg>