<div class="fixed left-16 top-0 w-[calc(100%_-_32px)] h-full z-50">
  <div class="max-w-site mx-auto grid grid-cols-16 gap-x-16">
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
    <div class="col-span-1 bg-opacity-50 min-h-screen bg-green-100"></div>
  </div>
</div>