<header class="sticky top-0 w-full z-20 {{ is_homepage ? 'p-16' : 'pt-16' }} lg:pt-24 xl:pt-32 bg-white min-h-84 lg:h-auto">
  <div class="grid grid-cols-8 md:grid-cols-16 gap-x-16 max-w-site mx-auto">
    <div class="col-span-7 md:col-span-6 xl:col-span-5 xl:col-start-2">
      <a 
        href="{{ site:url }}" 
        title="Home"
        :class="{ 'is-active': menu === true }"
        class="group relative xl:-left-20 2xl:-left-15">
        {{ partial:icons/logo class="w-200 lg:w-[320px] h-auto" }}
      </a>
    </div>
    <div class="col-span-1 md:col-span-10 xl:col-span-9 flex items-center justify-end">
      <a 
        href="javascript:;" 
        x-on:click="menu = ! menu" 
        title="{{ "Menü anzeigen" | trans }}"
        :class="{ 'is-active': menu === true }"
        class="group flex justify-center lg:hidden">
        <span x-show="menu === false">
          {{ partial:icons/burger class="w-24 h-auto" }}
        </span>
        <span x-cloak x-show="menu === true">
          {{ partial:icons/cross class="w-20 h-auto text-black" }}
        </span>
      </a>
      {{ partial:menu/wrapper }}
    </div>
  </div>
</header>