{{ if is_homepage }}
  <main role="main" class="is-home max-h-[calc(100vh_-_84px)] flex-grow flex flex-col justify-end relative z-10 px-16">
    <div class="grid grid-cols-8 md:grid-cols-16 gap-x-16 w-full max-w-site mx-auto">
      <div class="col-span-8 md:col-start-8 md:col-span-10 lg:col-start-8 mb-64 lg:mb-64 text-md lg:text-lg leading-[1.12]">
        {{ template_content }}
      </div>
    </div>
  </main>
{{ else }}
  <main role="main" class="w-full flex-grow max-w-site mx-auto pt-16 md:pt-32 lg:pt-48 xl:pt-72">
    <div class="grid grid-cols-8 md:grid-cols-16 gap-x-16">
      {{ template_content }}
    </div>
  </main>
{{ /if }}


