{{ partial:layout/head }}

{{ partial:layout/body }}

  {{ slot:header }}
    {{ partial:layout/header }}
  {{ /slot:header }}

  {{ if is_homepage }}
    <picture>
      <source media="(min-width: 1024px)" srcset="/assets/visual-home-shair.aero-lg.jpg" type="image/jpeg">
      <img src="/assets/visual-home-shair.aero.jpg" alt="Visual Shair" class="w-full h-full object-cover absolute top-0 left-0 z-0" />
    </picture>
  {{ /if }}

  {{ partial:layout/main }}

  {{ slot:footer }}
    {{ partial:layout/footer }}
  {{ /slot:footer }}

{{ /partial:layout/body }}

</html>
{{ partial:layout/credits }}