<div class="mb-68 sm:col-span-6 md:col-span-4">
  {{ if image }}
    <figure class="mb-20">
      <picture>
        <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
        <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
        <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg' }}" type="image/jpeg">
        <img 
          src="{{ glide:image preset='md' }}" 
          alt="{{ image:alt }}" 
          title="{{ image:alt }}" 
          height="{{ image:height }}" 
          width="{{ image:width }}"
          class="block w-full h-auto {{ class ?? '' }}"
          loading="lazy">
      </picture>
    </figure>
  {{ /if }}
  <h2>
    {{ service_title }}
  </h2>
  {{ if service_text }}
    {{ service_text }}
  {{ /if }}
</div>